body {
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    background-color: whitesmoke;
    padding-left: 96px;
    padding-right: 24px;
}

p {
    margin-top: 0;
    margin-bottom: 0px;
}

