.header {
    height: 55px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);

    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 60px;

    max-width: 470px;
}
.search-bar {
    height: 36px;
    flex: 1;
    width: 0;
    font-size: 16px;

    border: 1px solid rgb(192, 192, 192);
    border-radius: 40px 0px 0px 40px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(245, 245, 245);
    border-width:1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 0px 40px 40px 0px;
    
    margin-left: -2px;
    margin-right: 10px;
}

.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.search-button,
.voice-search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
    height: 40px;
}

.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip,
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip {
    opacity: 0.9;
}

.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip,
.search-button .tooltip,
.voice-search-button .tooltip
 {
    transition: 200ms;
    position: absolute;
    bottom: -40px;

    background-color: rgb(106, 106, 106);
    color: white;
    font-size: 12px;
    padding: 6px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}


.search-icon {
    height: 25px;
    margin-top: 4px;
}

.voice-search-button {
    background-color: rgb(245, 245, 245);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}
.voice-search-icon {
    height: 24px;
}
.right-section {
    display: flex;
    width: 180px;
    margin-left: 29px;
    margin-right: 24px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}


.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
    
}

.notifications-icon {
    height: 24px;
}

.notifications-icon-container {
    position: relative;
    margin-top: 4px;
}
.notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(204, 16, 16);
    color: white;
    font-size: 10px;


    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    border: solid;
    border-width: 1px;
    border-color: white;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

