.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    border-radius: 2px;
    padding-top: 10px;
    z-index: 2;
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: Roboto, Arial;
    font-size: 10px;
    line-height: 26px;
    
    width: 72px;
    height: 72px;

    margin-bottom: 2px;
    
}

.sidebar-link:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}