.thumbnail {
    width: 100%;
    cursor: pointer;
}



.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 42px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-preview {}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;

    cursor: pointer;
}
.video-author,
.video-stats {
    font-size: 12px;
    color: rgb( 96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
    cursor: pointer;
}


.video-info-grid {
    display: grid;
    grid-template-columns: 48px 1fr;
}

.channel-picture{}

.video-info {}

.profile-picture {
    width: 36px;
    border-radius: 50px;
    cursor: pointer;
}

.video-time {
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 4px;

    background-color: black;
    color: white;

    font-size: 12px;
    font-weight: 500;

    border-radius: 2px;
}