
p {
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-title {
    font-size:18px;
    font-weight: bold;
    line-height:24px;

    width: 280px;
    margin-bottom: 5px;
}

.video-stats {
    color: rgb(96, 96, 96);
    font-size:14px;

    margin-bottom:20;
}
.video-author {
    color: rgb(96, 96, 96);
    font-size:14px;
    
    margin-bottom:20;
}
.video-description{
    color: rgb(96, 96, 96);
    font-size:14px;
    line-height: 22px;

    width:280px;
    margin-bottom: 100px;
}

.apple-text {
    background-color: rgb(227, 65, 64);
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 28px;
    margin-bottom: 50px;
}
.example-span:hover{
    text-decoration: underline;
    cursor: pointer;
}
